{
  "languages": {
    "Gossamer": {
      "language_servers": ["gossamer-lsp"]
    }
  },
  "lsp": {
    "gossamer-lsp": {
      "binary": {
        "path": "gos",
        "arguments": ["lsp"]
      }
    }
  }
}
